:root {
	--black: #000411;
	--white: #f4f4f6;
	--green: #285943;
	--rose: #ab4967;
	--saffron: #eac435;
}

/* MAIN PAGE SETTINGS */
.main-page {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: left;

	padding-left: 10px;
	padding-right: 10px;

	color: var(--black);
}






/* MENU BAR */
.menubar {
	border-bottom-style: solid;
	border-color: var(--black);
	border-width: 1px;
}

.p-menubar {
	position: relative;
	justify-content: end;
}

.p-menubar-start {
	margin-right: auto;
	margin-left: 10px;
}

.p-menuitem {
	padding-left: 10px;
	padding-right: 10px;
}

.p-menuitem-text {
	color: var(--rose);
}

