:root {
	--black: #000411;
	--white: #f4f4f6;
	--green: #285943;
	--rose: #ab4967;
	--saffron: #eac435;
}

* {
	background-color: var(--white);
	font-family: 'Sora', sans-serif;
}

/* MAIN PAGE SETTINGS */
.main-page {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: left;

	padding-left: 20px;
	padding-right: 20px;

	color: var(--black);
}

.highlighted-text {
	background-color: var(--saffron);
	width: fit-content;
}





/* MENU BAR */
.menubar {
	border-bottom-style: solid;
	border-color: var(--black);
	border-width: 1px;

	width: 100vw;
}

.p-menubar {
	position: relative;
	justify-content: end;
	height: 55px;
	background: none;
}

.p-menubar-button {
	color: var(--rose);
}

.p-menuitem-text {
	color: var(--rose);
}

.p-menubar-start {
	margin-right: auto;
	margin-left: 10px;
}

.p-menuitem {
	background: none;
}

.p-menubar-root-list {
	background: none;
	background-color: transparent;
	width: fit-content;
	left: auto;
	box-shadow: none;
}

.p-menubar-root-list .p-menuitem-link {
	justify-content: right;
	padding: 0.4rem 0.65rem;
	background-clip: content-box;
}

.p-menuitem-content {
	background: none;
}


